$primary: #6fcc41;
$primary-dark: #58ac2e;
$background-dark: #212222;

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff") format("woff");
}

#footer {
  border-top: 1px #bfbfbf solid;
  padding: 60px;
  background-color: #111212;
  .row .col-sm ul {
    list-style: none;
    padding: 0;
  }
  .row .col-sm ul li a {
    color: white;
    font-family: "Gotham Pro";
    margin: 0;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  .row .col-sm a img {
    height: 130px;
  }
  .row .col-sm div a img {
    height: 54px;
  }
  .row .col-sm p,
  .row .col-sm small {
    color: white;
  }
  .row .col-sm small {
    margin-top: 30px;
  }
}
