$primary: #6fcc41;
$primary-dark: #58ac2e;
$background-dark: #212222;

@font-face {
  font-family: "Gotham Pro";
  font-weight: 700;
  src: url("../fonts/GothamPro.woff") format("woff");
}

@font-face {
  font-family: "Gotham Pro Med";
  font-weight: 700;
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
}

#banner {
  height: 600px;
}

#banner-bg {
  position: absolute;
  height: 600px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

#banner-content {
  height: 100%;
  padding: 0 50px;
  h2 {
    text-transform: uppercase;
    font-size: 40px;
    color: #fefefe;
    font-family: "Gotham Pro Med";
    zoom: 150%;
    margin: 0;
  }
}

.color-primary {
  color: $primary !important;
}

.hr-thick {
  width: 90px;
  margin: 0.5rem 0;
  border-bottom: 5px solid $primary;
  margin-bottom: 3rem !important;
}

.hr-thin {
  width: 90px;
  margin: 0.5rem 0;
  border-bottom: 3px solid $primary;
}

.banner-content-action-buttons {
  a {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: "Gotham Pro";
  }
}

.banner-content-action-buttons a.button-white {
  background: #fff;
  border: 1px #6fcc41 solid;
  color: #6fcc41;
  margin-right: 10px;
  i {
    margin-right: 30px;
  }
}

.banner-content-action-buttons a.button-black {
  min-width: 300px;
  background: #000;
  color: #fff !important;
  border: 1px solid #fff;
}

#section-2-buttons a {
  width: 50%;
  padding: 20px 40px;
  span {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-family: "Gotham Pro";
  }
}

#section-2-buttons a.primary {
  background-color: $primary;
}

#section-2-buttons a.dark {
  background-color: #242424;
}

#section-3 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
}

.section-3-icon {
  height: 100px;
  width: 100px;
  margin-right: 30px;
  svg {
    height: 100px;
    width: 100px;
  }
}

#section-3 div h4 {
  font-family: "Gotham Pro Med";
  font-size: 25px;
}

#section-3 div p {
  height: 100px;
}

#section-3 div a {
  background: #6fcc41;
  color: #fff;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border-radius: 0;
  width: 200px;
}

#section-4 {
  padding: 30px;
  margin-bottom: 50px;
  div {
    background: url("../images/become-12rnder.jpg");
    background-size: cover;
    height: 350px;
    width: 100%;
    margin: 0;
    padding-left: 160px;
    h2 {
      font-family: "Gotham Pro Med";
      margin-bottom: 0;
      font-size: 2.5rem;
    }
  }
}

.button-primary {
  background-color: $primary;
  color: white;
  border-radius: 0;
  max-width: 200px;
}

.section-5-card {
  align-items: center;
  h4,
  p {
    text-align: center;
    font-family: "Gotham Pro Med";
  }
}

#section-5 div a {
  background: #6fcc41;
  color: #fff;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border-radius: 0;
  width: 200px;
}

#section-6 {
  background: url("../images/what-are-you-fighting-for-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 40%;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding: 30px;
  div {
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    h2 {
      color: white;
      font-size: 40px;
      font-family: "Gotham Pro Med";
    }
    p {
      color: white;
      font-family: "Gotham Pro";
      width: 30%;
    }
    a {
      margin-top: 2rem;
      font-size: 20px;
      max-width: 250px;
    }
  }
}

#section-7 {
  padding: 30px;
  a img {
    height: 160px;
    width: 160px;
  }
}

#section-8 {
  padding: 30px;
  background-color: $background-dark;
  h5 {
    font-size: 20px;
    font-family: "Gotham Pro Med";
  }
  div input {
    width: 250px;
  }
  div button {
    width: 150px;
  }
}
