$primary: #6fcc41;
$primary-dark: #58ac2e;
$background-dark: #212222;

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff") format("woff");
}

#main-navigation-container {
  height: 100px;
  background-color: $background-dark !important;
  padding: 0px;
}

#navbarSupportedContent {
  background-color: $background-dark;
  & ul li a {
    color: #ffffff;
    font-size: 16px;
    padding: 11.2px 16px;
    font-family: "Gotham Pro";
  }
}

.free-trial-header-btn {
  background-color: $primary;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  &:hover {
    background-color: $primary-dark;
  }
}

.font-bold {
  font-weight: bold;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.hover-primary:hover {
  color: $primary !important;
}

.navbar-toggler {
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}
