<section id="banner">
  <div id="banner-bg">
    <video autoplay loop muted>
      <source src="{{root}}/assets/videos/hero-banner.mp4" />
    </video>
  </div>
  <div id="banner-content" class="d-flex flex-column justify-content-center">
    <h2>What</h2>
    <h2>ARE YOU</h2>
    <h2 class="color-primary">FIGHTING</h2>
    <h2 class="color-primary">FOR?</h2>
    <hr class="hr-thick" />
    <div class="banner-content-action-buttons">
      <a href="#" class="button-white">
        <i class="icon icon-play"></i>
        Watch the video
      </a>
      <a href="#" class="button-black">
        Join the training camp
      </a>
    </div>
  </div>
</section>
<section>
  <div id="section-2-buttons" class="d-flex flex-row">
    <a href="#" class="primary">
      <span>FREE TRIAL</span>
    </a>
    <a href="#" class="dark">
      <span>TRAIN AT HOME</span>
    </a>
  </div>
</section>
<section id="section-3">
  <div class="container">
    <div class="row">
      <div class="col-sm d-flex">
        <div class="section-3-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180">
            <path
              d="M74.9 19.9c2.7 0 5.3.4 7.9 1.1 9.8 2.8 15.4 8.6 17.6 18 1.1 4.7 2.3 8.9 3.7 12.7 1.2 3.2 3.3 5.6 4.9 7.2 1.6 1.5 3.7 1.9 5.2 1.9 1 0 2.9-.2 4.5-1.2 3.2-2 3.6-6.8 2.6-9.3-1.4-3.7-2.9-7.4-4.4-11 3.8 1.9 7 4.9 9.5 9.1 4.1 6.9 5.7 14.8 7 23l.6 3.3c.7 4.1 1.4 8.3 1.9 12.4 0 .3 0 .8-.1 1-11.7 19.2-27.4 35-46.6 46.8-13-4.1-26.8-9-39.1-16.2-5.1-3-9.8-6.2-14.1-9.6-13.4-10.8-18-23.7-14.2-39.6C28 44.3 41.9 28.6 64.5 21.6c3.5-1.1 7.1-1.7 10.4-1.7m0-5c-4.1 0-8.1.7-12 1.9C37.4 24.8 23 43 16.8 68.3c-4.5 18.3 1.5 33.1 15.9 44.7 4.6 3.7 9.6 7.1 14.7 10 12.7 7.4 26.5 12.3 40.5 16.7.3.1.7.2 1.1.2.9 0 1.9-.3 2.7-.7 20-12.3 36.2-28.5 48.4-48.6.7-1.1.9-2.8.8-4.2-.7-5.3-1.6-10.6-2.5-15.9-1.4-8.6-3.1-17.1-7.7-24.7-4.7-7.8-11.5-12.4-20.4-13.7-.5.3-.9.6-1.4.8 2.6 6.4 5.3 12.7 7.8 19.1.4.9 0 2.8-.6 3.2-.4.3-1.2.4-1.9.4s-1.4-.1-1.7-.5c-1.5-1.5-2.9-3.3-3.6-5.3-1.5-3.9-2.6-8-3.6-12.1-2.7-11.5-9.9-18.5-21-21.7-3.2-.6-6.3-1.1-9.4-1.1zM146.4 100.7c8 6 13.5 13.5 16.7 23 .2.7.1 2.3-.4 3.3-8.1 15.6-20 27.4-35.3 35.2-.4.2-1.2.4-2.2.4-.8 0-1.6-.1-2.2-.3-8.9-3.4-16-8.8-21.4-16.5 17.9-12.2 32.7-27 44.8-45.1m-1.4-7c-13.2 20.9-30 37.6-50.5 50.7 6.4 10.7 15.2 18.3 26.6 22.6 1.2.4 2.6.7 4 .7 1.6 0 3.3-.3 4.5-.9 16.5-8.4 29-21 37.5-37.4 1.1-2 1.4-5.1.7-7.2-4-12.2-11.7-21.6-22.8-28.5z"
            ></path>
          </svg>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h4 class="font-bold">YOUR</h4>
          <h4 class="font-bold">FIRST TIME</h4>
          <hr class="hr-thin" />
          <p>
            Start anytime at 12RND with flexible class times.
          </p>
          <a href="#" class="font-bold btn">LEARN MORE</a>
        </div>
      </div>
      <div class="col-sm d-flex">
        <div class="section-3-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180">
            <path
              d="M166 135.2c-1.9-9.2-4.6-18.2-8-27-5.3-13.8-11.8-27.1-19.1-40-3.9-6.8-7.6-13.6-10.7-20.8-2.4-5.6-6-10.3-10.9-14.1-4.1-3.2-8.1-6.7-12.2-9.9-3-2.4-6.1-4.8-9.2-7.1-1.9-1.4-3.9-2.4-6.2-2.9-1.9-.4-3.7 0-5.1 1.4-2.8 2.7-5.6 5.3-8.3 8.1-1.5 1.5-2.9 3.2-4.1 4.9-1.2 1.6-1.4 3.4-.4 5.2.5.8 1 1.7 1.5 2.5.1.2.2.3.3.5l-.2-.2c-.9.6-2 1.1-2.8 1.9-2.4 2.1-2.5 5.3 1 6.9 1.3.6 2.7.6 4 .6 1.7 0 3.3-.1 5 .1 3.9.4 7.5 1.8 11.2 3.1 2.3.8 4.5 1.4 6.9 1.8 2.3.4 4.7.3 7-.3 1-.3 1.6.1 2.1.9 1.3 2.6 2.4 5.2 3.1 8 .8 3 1.2 6 1.3 9 .1 3.3 0 6.7-.1 10-.2 4.9-.6 9.8-.7 14.7-.1 5.9 0 11.7 0 17.6 0 1.4-.1 2.7-.1 4.1-.7 0-1.2 0-1.8.1-1 .2-1.7-.2-2.3-1.1-3.3-4.3-5.6-5.6-10.3-8.3-5-2.9-12-4.5-17.9-3.9-7.3.8-13.1 1.9-18 7.2-.7.7-1.3 1.5-2 2.4v-.4c.7-1.5 1.4-3 2.2-4.5.2-.4.2-.6-.2-.9-1.6-1.2-3.1-2.5-4.8-3.7-2.1-1.6-4.5-2.6-7-3.3-1.9-.5-3.8-.8-5.7-.9-7.2-.8-14.7 1.3-20 6.3-6.8 6.3-8.5 16.8-8.2 25.6.2 9 2.9 18 8.1 25.4 2.5 3.6 5.6 7.1 9.5 9.4 4.4 2.6 9.5 2.8 14.5 2.6 5.8-.2 11.4-1.2 17-2.2 2.5.6 5.1 1.2 7.6 1.6 3.3.5 6.6 1 10 1.2 3.4.2 6.8.2 10.2.1 6.3-.2 12.6-1.2 18.9-2.4 8.1-1.6 15.9-4.4 23.6-7.3 5.6-2.1 11.2-4.2 17-5.7 1.6-.4 3.3-.8 4.8-1.4 3.6-1.6 6.3-4.2 8.3-7.6 1.3-2.3 1.7-4.7 1.2-7.3"
              fill="none"
              stroke="#000"
              stroke-width="5"
              stroke-linejoin="round"
              stroke-miterlimit="10"
            ></path>
          </svg>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h4 class="font-bold">THE</h4>
          <h4 class="font-bold">WORKOUT</h4>
          <hr class="hr-thin" />
          <p>
            Workouts replicate the physical demands of a 12 round championship
            with 12x3-minute rounds.
          </p>
          <a href="#" class="font-bold btn">LEARN MORE</a>
        </div>
      </div>
      <div class="col-sm d-flex">
        <div class="section-3-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180">
            <path
              d="M169.7 46.5c-4.9-16-15.4-26.2-30.9-30.2-13.8-3.6-26.5-.3-37.5 9.3-3.6 3.1-6.7 6.8-9.9 10.3-.7.8-1.2.9-2 0-1.9-2.1-3.8-4-5.7-6.1-6.4-7.2-14.1-12-23.3-13.8-8.5-1.7-16.7-.9-24.7 2.3-6.3 2.6-11.6 6.9-16.1 12.2-11.6 13.8-14 34.6-6 51.1.4.9 1 1.2 1.9 1.2h30.7c1 0 1.5-.3 1.9-1.4 4.7-13.3 9.5-26.5 14.2-39.8.7-1.9 1.4-3.7 2-5.6h.3c8.6 24.7 17.2 49.4 25.7 74.1.5-.4.7-.7.9-1 3.1-8.3 6.1-16.5 9.2-24.8.4-1.2 1-1.7 2.3-1.6 6 .1 11.9 0 17.9 0h29.9c-3.5 3.9-6.8 6.9-9.7 10.2h-31.5c-1.3 0-2 .4-2.5 1.8-3 8.4-6 16.8-9.1 25.1C95.9 125 94 130 92.1 135c-.5 1.4-1 2.7-1.5 4.1h-.4C81.7 114.6 73.1 90 64.6 65.4h-.4c-.2.4-.4.8-.5 1.2-3 8.3-6 16.7-9 25.1-.4 1-.9 1.5-1.9 1.4-1.4-.1-2.8 0-4.2 0H21.1c1.5 1.4 2.9 2.7 4.2 4.2 1.2 1.3 2.2 2.9 3.5 4.2 1 1.1 2.2 2 3.2 3.1l.1.1c11 11.8 22.1 23.6 33.2 35.4l24 25.5c.6.6 1 1.3 1.9.3 8.1-8.7 16.2-17.3 24.3-25.9 3.4-3.6 6.7-7.3 10.1-10.9 3.5-3.7 7.1-7.4 10.6-11.1 7.5-8 15.1-15.9 22.5-24 12.5-13.6 16.5-29.6 11-47.5z"
              fill="none"
              stroke="#000"
              stroke-width="5.094"
              stroke-linejoin="round"
              stroke-miterlimit="10"
            ></path>
          </svg>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h4 class="font-bold">THE</h4>
          <h4 class="font-bold">SCIENCE</h4>
          <hr class="hr-thin" />
          <p>
            12RND has a 7 x week training cycle with 4 distinct phases developed
            by our in-house sports scientists.
          </p>
          <a href="#" class="font-bold btn">LEARN MORE</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-4">
  <div class="d-flex flex-column justify-content-center">
    <h2>BECOME A</h2>
    <h2>12RND'ER</h2>
    <a href="#" class="btn button-primary" style="font-size: 18px;"
      >GET STARTED</a
    >
  </div>
</section>
<section id="section-5">
  <div class="container">
    <div class="row">
      <div class="col-sm d-flex">
        <div class="d-flex flex-column section-5-card">
          <svg
            style="max-width: 150px;"
            id="no-fixed-class-time_svg__Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 180 180"
          >
            <style>
              .no-fixed-class-time_svg__st1 {
                fill: #fff;
              }
            </style>
            <circle cx="90.1" cy="90.7" r="77.5"></circle>
            <circle
              cx="90.1"
              cy="90.8"
              r="50.4"
              class="svg-base-fill-color"
            ></circle>
            <path
              transform="rotate(45.001 90.073 95.214)"
              class="no-fixed-class-time_svg__st1"
              d="M82.1 13.2h16v164.1h-16z"
            ></path>
            <path
              class="no-fixed-class-time_svg__st1"
              d="M49.5 51.4c-21.7 21.7-21.7 56.9 0 78.6 21.7 21.7 56.9 21.7 78.6 0 21.7-21.7 21.7-56.9 0-78.6-21.6-21.7-56.9-21.7-78.6 0zm82.1 49l-4.6-1.2c-.5-.1-1.1 0-1.5.4-.2.2-.3.4-.4.7-.1.4-.1.8.2 1.2.2.4.5.6.9.7l4.6 1.2c-1.8 5.8-4.7 11.4-9 16.2l-4.1-4.1c-1.1-1.1-3-1.1-4.1 0-1.1 1.1-1.1 3 0 4.1l4.1 4.1c-4.7 4.2-10.2 7.1-15.9 8.9l-1.2-4.6c-.1-.4-.4-.7-.7-.9-.4-.2-.8-.3-1.2-.2-.3.1-.5.2-.7.4-.4.4-.5 1-.4 1.5l1.2 4.6c-6.1 1.4-12.4 1.5-18.5.3l1.5-5.6c.4-1.6-.5-3.2-2.1-3.6-1.6-.4-3.2.5-3.6 2.1l-1.5 5.6c-5.7-1.9-11-5-15.7-9.3l3.4-3.4c.3-.3.5-.7.5-1.1 0-.4-.2-.8-.5-1.1-.6-.6-1.6-.6-2.2 0l-3.4 3.4c-4.4-4.7-7.6-10.1-9.5-15.9l5.6-1.5c.5-.1 1-.4 1.3-.8.7-.7 1-1.8.8-2.8-.4-1.6-2-2.5-3.6-2.1l-5.6 1.5c-1.2-6-1.1-12.2.3-18.2l4.6 1.2c.3.1.5.1.8 0 .5-.1 1-.6 1.1-1.1.1-.4 0-.8-.2-1.2-.2-.4-.5-.6-.9-.7L46.9 78c1.8-5.8 4.7-11.4 9-16.2l4.1 4.1c1.1 1.1 3 1.1 4.1 0 1.1-1.1 1.1-3 0-4.1L60 57.7c4.7-4.2 10.2-7.1 15.9-8.9l1.2 4.6c.2.8 1.1 1.3 1.9 1.1.3-.1.5-.2.7-.4.4-.4.5-1 .4-1.5L78.9 48c6.1-1.4 12.4-1.5 18.5-.3l-1.5 5.6c-.4 1.6.5 3.2 2.1 3.6 1 .3 2.1 0 2.8-.8.4-.4.6-.8.8-1.3l1.5-5.6c5.7 1.9 11 5 15.7 9.3l-3.4 3.4c-.3.3-.5.7-.4 1.1 0 .4.2.8.5 1.1.4.4 1 .5 1.5.4.3-.1.5-.2.7-.4l3.4-3.4c4.4 4.7 7.6 10.1 9.5 15.9l-5.6 1.5c-1.6.4-2.5 2-2.1 3.6.4 1.6 2 2.5 3.6 2.1l5.6-1.5c1 5.9.9 12.2-.5 18.1z"
            ></path>
            <path
              class="no-fixed-class-time_svg__st1"
              d="M92.9 64.2L87 84.8c-.9.3-1.8.8-2.5 1.5s-1.2 1.6-1.5 2.5l-20.6 5.9c-2 .6-3.1 2.6-2.5 4.5.6 2 2.6 3.1 4.5 2.5l21.1-6c2.4 1.6 5.7 1.4 7.8-.8 2.1-2.1 2.4-5.4.8-7.8l6-21.1c.6-2-.6-4-2.5-4.5-2.1-.4-4.1.8-4.7 2.7z"
            ></path>
          </svg>
          <h4>
            NO FIXED CLASS TIMES
          </h4>
          <p>Neve have to book</p>
        </div>
      </div>
      <div class="col-sm d-flex">
        <div class="d-flex flex-column section-5-card">
          <svg
            style="max-width: 150px;"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 180 180"
          >
            <circle cx="90.2" cy="90.7" r="77.5"></circle>
            <path
              class="svg-base-fill-color"
              d="M91.5 64.5L44.9 90.7l47.7 26.4 50.3-25.3z"
            ></path>
            <path
              d="M46.1 72.5c1.4-.8 2.8-1.5 4.1-2.2C62.9 63.6 75.6 56.8 88.3 50c.7-.4 1.1-.8 1-1.6-.1-1.1 0-2.1 0-3.2 0-2.2 1.3-3.7 3.3-3.7 2 0 3.3 1.5 3.3 3.7v3.5c0 .5.1.8.6 1.1 11.2 6 22.4 12 33.7 17.9 2.6 1.4 5.2 2.8 7.9 4.2.3.2.6.3 1 .5v-1.1c0-1.9 1.4-3.3 3.2-3.3 1.9 0 3.3 1.3 3.4 3.2v32.9c0 1.7-.7 2.9-2.2 3.7-11.4 6.1-22.8 12.1-34.2 18.2-2.6 1.4-5.3 2.8-7.9 4.2-2.3 1.3-4.7 2.5-7 3.8-1.3.7-2.4.7-3.7 0-16.3-8.7-32.7-17.5-49.1-26.2-1.5-.8-2.2-1.9-2.2-3.7v-22-10.7c0-2.7 2.6-4.3 4.9-3 1.1.6 1.7 1.5 1.7 2.8.1.4.1.8.1 1.3zm76.7 12.2c-.3-.2-.5-.3-.6-.4-9.7-5.2-19.4-10.4-29.1-15.5-.3-.1-.7-.1-1 0-9.7 5.2-19.5 10.4-29.2 15.6-.2.1-.3.2-.5.3 9 4.8 17.9 9.5 26.8 14.3.5-3.5 1.1-4.3 3.5-4.3.6 0 1.3.2 1.8.6 1.3.8 1.4 2.2 1.4 3.8 9-4.8 17.9-9.6 26.9-14.4zm16.3 12.2c-.5.2-.7.4-1 .5-13.8 7.4-27.6 14.7-41.4 22.1-.5.3-.7.5-.7 1.1V125.7c1.7-.9 3.3-1.7 4.8-2.6 9.7-5.2 19.4-10.3 29.1-15.5 2.9-1.5 5.8-3.1 8.7-4.6.4-.2.5-.5.5-.9v-5V96.9zm-49.9 28.8v-.6-4.6c0-.5-.2-.7-.6-.9-5.9-3.2-11.9-6.3-17.8-9.5-7.9-4.2-15.9-8.5-23.8-12.7-.3-.2-.6-.3-.9-.5v5.3c0 .4.2.6.5.8 4.3 2.3 8.5 4.5 12.8 6.8 8.4 4.5 16.7 8.9 25.1 13.4 1.6.9 3.1 1.7 4.7 2.5zm.1-13.3v-5c0-.6-.2-.9-.7-1.2-10.3-5.5-20.6-11-31-16.5-.8-.4-1.5-1.1-2.3-1.1-.8 0-1.6.7-2.4 1.1-1 .5-1.9 1-3 1.6 13.2 7.1 26.2 14 39.4 21.1zm46-34.4c-13.2-7-26.2-14-39.4-21v5c0 .6.2.9.7 1.1 4 2.1 7.9 4.2 11.9 6.3 7 3.7 14 7.5 21 11.2.2.1.5.2.7.1 1.7-.8 3.3-1.7 5.1-2.7zm-39.4 34.4c13.2-7 26.2-14 39.4-21-1.7-.9-3.2-1.7-4.7-2.6-.5-.3-.8-.2-1.3 0-5.3 2.9-10.7 5.7-16 8.5l-16.8 9c-.2.1-.5.4-.5.7-.1 1.7-.1 3.4-.1 5.4zM89.3 57C76.1 64 63 71 49.9 78c1.6.9 3.1 1.6 4.6 2.5.6.3 1 .3 1.6 0 7.2-3.8 14.3-7.7 21.5-11.5 3.7-2 7.5-4 11.2-6 .2-.1.6-.5.6-.7-.1-1.7-.1-3.4-.1-5.3zM46.2 85.8c.7-.4 1.3-.7 2-1.1-.7-.4-1.4-.7-2-1.1v2.2zm92.8 0v-2.2c-.7.4-1.3.7-2 1.1.7.4 1.3.7 2 1.1z"
              fill="#fff"
            ></path>
          </svg>
          <h4>
            BOXING INSPIRED TRAINING
          </h4>
          <p>Train like a fighter!</p>
          <a href="#" class="font-bold btn">LEARN MORE</a>
        </div>
      </div>
      <div class="col-sm d-flex">
        <div class="d-flex flex-column section-5-card">
          <svg
            style="max-width: 150px;"
            id="performance-coach_svg__Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 180 180"
          >
            <style>
              .performance-coach_svg__st0 {
                fill: #fff;
              }
            </style>
            <circle cx="90.5" cy="90.7" r="77.5"></circle>
            <path
              class="performance-coach_svg__st0"
              d="M76.5 70.6l2.2-.8c.8-.3 1.3-1.2 1-2.1L73.5 51c-.3-.8-1.2-1.3-2.1-1l-2.2.8c-.8.3-1.3 1.2-1 2.1l6.2 16.7c.3.8 1.2 1.3 2.1 1zM61.1 84.3L60 86.4c-.4.8-1.4 1.1-2.2.7l-15.8-8c-.8-.4-1.1-1.4-.7-2.2l1.1-2.1c.4-.8 1.4-1.1 2.2-.7l15.9 8.1c.7.3 1 1.3.6 2.1zM66.3 76.1l1.5-1.4c.7-.7.8-1.8.1-2.5L52.7 55.7c-.7-.7-1.8-.8-2.5-.1L48.6 57c-.7.7-.8 1.8-.1 2.5L63.8 76c.7.7 1.8.8 2.5.1zM107 133.9l-2.4.3c-2-.1-4-.2-6-.4-7.4-1-14.8-2-22.1-3.1-9.1-1.4-15.6-6.3-19-15-.4-1.1-.7-2.2-1.1-3.3-.2-1.4-.3-2.8-.5-4.1 0-.2.1-.4.1-.6 0-7.8 3.1-14.2 9.2-19 13.1-10 26.3-19.9 39.5-29.9.3-.2.8-.4 1.2-.3 7.3 1 14.7 2 22 3.1.4.1.9.4 1.1.7 3.2 4.1 6.3 8.3 9.5 12.5.2.3.5.5.7.7v.4c-.1.1-.3.2-.4.3-5.7 6.5-11.3 13-17 19.5-.4.5-.3.7 0 1.1 2.1 2.8 3.4 5.9 4.1 9.3 2.1 11.1-3.7 22-14.2 26.3-1.4.6-3 1-4.7 1.5zm-20.4-6v-.3c-.3-.3-.6-.6-.9-1-3-3.1-5-6.8-5.8-11-1.9-9.9 1.2-18 9.2-24.2 11.3-8.6 22.6-17.1 33.9-25.7.2-.2.5-.4.7-.6-.2-.1-.2-.1-.3-.2-5.5-.8-11-1.5-16.5-2.3-.3 0-.8.1-1.1.4C93.2 72.5 80.6 82 68 91.6c-7.2 5.5-9.8 14.5-6.6 22.7 2.6 6.6 7.5 10.6 14.5 11.9 3.5.8 7.1 1.2 10.7 1.7z"
            ></path>
            <path
              d="M86.6 127.9c-3.6-.5-7.2-1-10.8-1.6-7-1.3-11.9-5.4-14.5-11.9-3.3-8.2-.6-17.2 6.6-22.7 12.6-9.6 25.2-19.1 37.8-28.6.3-.2.7-.4 1.1-.4 5.5.7 11 1.5 16.5 2.3.1 0 .2.1.3.2-.3.2-.5.4-.7.6-11.3 8.6-22.7 17.1-33.9 25.7-8 6.1-11.1 14.3-9.2 24.2.8 4.2 2.9 7.9 5.8 11 .3.3.6.6.9 1 .1 0 .1 0 .1.2z"
              class="svg-base-fill-color"
            ></path>
          </svg>
          <h4>
            PERFORMANCE COACH
          </h4>
          <p>In every workout</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-6">
  <div class="d-flex flex-column">
    <h2>#WHAT ARE YOU</h2>
    <h2>FIGHTING FOR?</h2>
    <hr class="hr-thick" style="margin-bottom: 2em !important;" />
    <p>
      There's a reason we call our members 'Fighters'. Ask a 12RND'er why they
      train and they'll tell you, it's for their family, or it's for their
      future, or it's for their mental health... everyone's fighting for
      something, what are you fighting for?
    </p>
    <a href="#" class="btn button-primary">FOLLOW US</a>
  </div>
</section>
<section id="section-7" class="d-flex flex-row justify-content-around">
  <a href="#">
    <img
      src="{{root}}/assets/images/103502005_2583067128675737_2581050970511104991_n.jpg"
    />
  </a>
  <a href="#">
    <img
      src="{{root}}/assets/images/104015040_585643009001873_3440479578032495253_n.jpg"
    />
  </a>
  <a href="#">
    <img
      src="{{root}}/assets/images/101338361_184562569673718_125544883432233938_n.jpg"
    />
  </a>
  <a href="#">
    <img
      src="{{root}}/assets/images/83538188_256091529052105_7583923871232783314_n.jpg"
    />
  </a>
  <a href="#">
    <img
      src="{{root}}/assets/images/101054361_2368630716774029_8807014424573055006_n.jpg"
    />
  </a>
  <a href="#">
    <img
      src="{{root}}/assets/images/100922391_293870688675878_8575798059871883611_n.jpg"
    />
  </a>
</section>
<section id="section-8" class="d-flex flex-row justify-content-between">
  <h5 class="margin-0 font-bold text-white">Join our mailing list</h5>
  <div>
    <input type="text" value="" placeholder="First Name" aria-required="true" />
    <input type="text" value="" placeholder="Last Name" aria-required="true" />
    <input
      type="text"
      value=""
      placeholder="Email Address"
      aria-required="true"
    />
    <button type="submit" id="mc-embedded-subscribe" class="btn button-primary">
      SUBMIT
    </button>
  </div>
</section>
