<footer id="footer">
  <div class="row">
    <div class="col-sm">
      <a href="#">
        <img src="{{root}}/assets/images/12rnd-footer.svg" />
      </a>
    </div>
    <div class="col-sm">
      <ul>
        <li>
          <a>The Experience</a>
        </li>
        <li>
          <a>The Training Camp</a>
        </li>
        <li>
          <a>Train At Home</a>
        </li>
        <li>
          <a>12RND Blog</a>
        </li>
        <li>
          <a>Press</a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <li>
          <a>Privacy & GDPR</a>
        </li>
        <li>
          <a>Terms & Conditions</a>
        </li>
        <li>
          <a>FAQS</a>
        </li>
        <li>
          <a>Contact Us</a>
        </li>
        <li>
          <a>Become a Franchise</a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <p>Follow 12RND Online</p>
      <div class="d-flex flex-row justify-content-around">
        <a href="#"><img src="/assets/images/social-facebook.svg" /></a>
        <a href="#"><img src="/assets/images/social-youtube.svg" /></a>
        <a href="#"><img src="/assets/images/social-instagram.svg" /></a>
        <a href="#"><img src="/assets/images/social-spotify.svg" /></a>
      </div>
      <small
        >Copyright © 2020, 12RND Fitness All Rights Reserved.<br />Other marks
        belong to their respective owners.</small
      >
    </div>
  </div>
</footer>
