<nav
  id="main-navigation-container"
  class="navbar navbar-expand-lg navbar-dark"
  bg-dark
>
  <a class="navbar-brand" href="#">
    <img src="/assets/images/12rnd-header.svg" height="100px" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item font-bold free-trial-header-btn">
        <a class="nav-link" href="#">FREE TRIAL</a>
      </li>
      <li class="nav-item font-bold">
        <a class="nav-link hover-primary" href="#">FIND A CLUB</a>
      </li>
      <li class="nav-item font-bold">
        <a class="nav-link hover-primary" href="#">TRAIN AT HOME</a>
      </li>
      <li class="nav-item font-bold">
        <a class="nav-link hover-primary" href="#">THE TRAINING CAMP</a>
      </li>
      <li class="nav-item font-bold">
        <a class="nav-link hover-primary" href="#">THE EXPERIENCE</a>
      </li>
      <li class="nav-item font-bold">
        <a class="nav-link hover-primary" href="#">OWN A 12RND</a>
      </li>
    </ul>
  </div>
</nav>
