<!DOCTYPE html>
<html lang="en">
  <head>
    <title>12RND</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{root}}/assets/vendors/css/open-iconic-bootstrap.min.css"
    />
    <link rel="stylesheet" href="{{root}}/assets/vendors/css/animate.css" />
    <link
      rel="stylesheet"
      href="{{root}}/assets/vendors/css/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="{{root}}/assets/vendors/css/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="{{root}}/assets/vendors/css/magnific-popup.css"
    />
    <link rel="stylesheet" href="{{root}}/assets/vendors/css/aos.css" />
    <link
      rel="stylesheet"
      href="{{root}}/assets/vendors/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="{{root}}/assets/vendors/css/flaticon.css" />
    <link rel="stylesheet" href="{{root}}/assets/vendors/css/icomoon.css" />
    <link rel="stylesheet" href="{{root}}/assets/vendors/css/style.css" />
    <link rel="stylesheet" href="{{root}}/assets/css/bundle.css" />
  </head>
  <body>
    {{> Header}} {{> body}} {{> Footer}}
  </body>
  <script src="{{root}}/assets/vendors/js/jquery.min.js"></script>
  <script src="{{root}}/assets/vendors/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="{{root}}/assets/vendors/js/popper.min.js"></script>
  <script src="{{root}}/assets/vendors/js/bootstrap.min.js"></script>
  <script src="{{root}}/assets/vendors/js/jquery.easing.1.3.js"></script>
  <script src="{{root}}/assets/vendors/js/jquery.waypoints.min.js"></script>
  <script src="{{root}}/assets/vendors/js/jquery.stellar.min.js"></script>
  <script src="{{root}}/assets/vendors/js/owl.carousel.min.js"></script>
  <script src="{{root}}/assets/vendors/js/jquery.magnific-popup.min.js"></script>
  <script src="{{root}}/assets/vendors/js/aos.js"></script>
  <script src="{{root}}/assets/vendors/js/jquery.animateNumber.min.js"></script>
  <script src="{{root}}/assets/vendors/js/scrollax.min.js"></script>
  <script src="{{root}}/assets/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{{root}}/assets/vendors/js/google-map.js"></script>
  <script src="{{root}}/assets/vendors/js/main.js"></script>
</html>
